/* .wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.overview {
  /* background: tomato; */
} */



/* .status {
  width: 50%;
  /* background: green; */
  /* flex: 1 auto;
} */ */



.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px auto 150px;
  grid-gap: 10px;

  grid-template-areas: 
  "title title"
  "lead lead"
  "requirements status"
  "footer footer";
}

.header {
  grid-area: title;
}

.lead {
  grid-area: lead;

}

.requirements, .status {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgrey;
}
.requirements {
  grid-area: requirements;
}

.status {
  grid-area: status;
}

.footer {
  grid-area: footer;

}