.main {
  display: grid;
  grid-gap: 10px;
}

@media only screen and (max-width: 899px) {
  .main {
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "lead"
  "left"
  "right"
  "footer";
}
}

@media only screen and (min-width: 900px) {
  .main {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title title"
  "lead lead"
  "left right"
  "footer footer";
}
}

.header {
  grid-area: title;
}

.lead {
  grid-area: lead;

}

.requirements, .status {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgrey;
}

.requirements {
  grid-area: left;
}

.status {
  grid-area: right;
}

.footer {
  grid-area: footer;

}
